.main-container .image{
    /* 2. Box Model */
    width: 15rem;
    min-height: 15rem;
    margin-bottom: 4rem;
    /* 4. Visual Styles */
    border-radius: 4px;
    background: var(--background-color);
    background: url('../images/bitcoin-1.svg') center/cover no-repeat;
}

.to-commissions{
    display: none;
}

.main__tbls-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.benefits-cards-container{
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.plans-card-slider{
    justify-content: center;
}